<!doctype html>
<html>
<body>
<div id="threads"></div>
<script type='text/template' id='thread-template'>
    <div class="revisions"></div>
</script>

<script type='text/template' id='revision-template'>
    <div class='text'><%= text %></div>
    <div><%= upvotes %> <%= downvotes %></div>
</script>

<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js'></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/underscore.string/1.1.6/underscore.string.min.js'></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/zepto/0.7/zepto.min.js'></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js'></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js'></script>
<script type='text/javascript' src='/static/scripts/main.js'> </script>
</body>
</html>
