@font-face {
	font-family: 'PictosRegular';
	src: url('../fonts/Pictos-webfont.eot');
	src: url('../fonts/Pictos-webfont.eot?iefix') format('eot'),
		 url('../fonts/Pictos-webfont.woff') format('woff'),
		 url('../fonts/Pictos-webfont.ttf') format('truetype'),
		 url('../fonts/Pictos-webfont.svg#webfontVz8pnSxt') format('svg');
	font-weight:normal;
	font-style:normal;
}
.icon {
	font-family: 'PictosRegular';
}
body {
	background: url(../images/bg.gif);
	font-family: Helvetica neue, Helvetica, Arial, Sans-serif;
	font-size: 13px;
	color: #444444;
}
a {
	color: #8e9cc2;
	text-decoration: none;
}
a:hover {
	color: #6388f0;
}
.button {
	background: url(../images/nav-bg.png) 0 0 repeat-x #5d6368;
	background: url(../images/button-bg.png) 0 bottom repeat-x #666b71;
	padding: 5px 13px;
	line-height: 28px;
	height: 30px;
	color: #ddd;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1) inset;
	border: 1px solid #3C3C3C;
	border-radius: 5px;
	cursor: pointer;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}
.tinybutton {
	font-size: 13px;
	background: url(../images/nav-bg.png) 0 0 repeat-x #5d6368;
	border: 1px solid #3C3C3C;
	color: white;
	display: block;
	padding: 3px 7px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1) inset;
	color: #ddd;
	cursor: pointer;
	border-radius: 3px;
	margin-right: -7px;
}
.button:hover {
	text-decoration: none;
	background: url(../images/button-bg.png) 0 0 repeat-x #5e6267;
	color: #ddd;
}
.tinybutton:hover {
	text-decoration: none;
	background: url(../images/button-bg.png) 0 0 repeat-x #5e6267;
	color: #ddd;
}
.button:active,
.tinybutton:active {
	box-shadow: 0 0 5px rgba(0,0,0,0.4) inset;
	color: #ddd;
}
.button_light {
	background: none;
	background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
	box-shadow: 0 1px 0 white, 0 1px 0 white inset;
	border: 1px solid #ccc;
	color: #989DA2;
	color: #8e9cc2;
	text-shadow: 0 1px 0 white;
}
.button_light:hover {
	background: none;
	background: -moz-linear-gradient(#ffffff,#eeeeee);
	color: #989DA2;
	color: #8e9cc2;
	text-shadow: 0 1px 0 white;
}
.button_light:active {
	box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;
}
.button_light .icon {
	color: #989DA2;
}


div.dialog {
	background: white;
	position: fixed;
	top: 15%;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
	border-radius: 5px;
	z-index: 100;
}
div.dialog-header {
	background: url(../images/nav-bg.png) 0 0 repeat-x #5d6368;
	padding: 10px 20px;
	border: 1px solid #3C3C3C;
	color: white;
	overflow: hidden;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
div.dialog-header h3 {
	float: left;
	font-size: 15px;
	padding: 3px 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
div.dialog-header .close-dialog {
	float: right;
}
div.dialog-header .close-dialog .icon {
	position: relative;
	top: -3px;
	text-shadow: none;
}
div.dialog-content {
	padding: 20px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.dialog textarea {
	width: 535px;
	max-width: 535px;
	min-width: 535px;
	height: 100px;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	font-family: Helvetica, arial, sans-serif;
	font-family: Georgia, TImes New Roman, Serif;
	color: #444;
	font-size: 16px;
	line-height: 20px;
}

/* Header */
div#header-bar {
	background: url(../images/header-bg.png) repeat-x #555b61;
	height: 61px;
	border-bottom: 1px solid #323232;
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 151;
}

div#header {
	width: 970px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}
a#logo {
	margin-top: 21px;
	display: block;
	position: absolute;
}
a#logo img {
	display: block;
}
div#header-right {
	float: right;
	padding-top: 15px;
}
div#header-right .button {
	padding: 5px 11px;
}
div#header-right .button .icon {
	position: relative;
	top: -1px;
}

/* Nav */
div#nav {
	margin-left: 150px;
	padding-top: 14px;
	float: left;
}
div#nav ul {
	border: 1px solid #3c3c3c;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
div#nav ul li {
	float: left;
}
div#nav ul li a {
	display: block;
	background: url(../images/nav-bg.png) 0 0 repeat-x #5d6368;
	background: url(../images/button-bg.png) 0 bottom repeat-x #666b71;
	padding: 0 13px;
	line-height: 28px;
	height: 30px;
	color: #ddd;
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}
div#nav ul li a:hover {
	text-decoration: none;
	background: url(../images/nav-bg.png) 0 14px repeat-x #6e7277;
	background: url(../images/button-bg.png) 0 0 repeat-x #5e6267;
}
div#nav ul li a:active {
	box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
}
div#nav ul li.current a {
	background: #3e4246;
	box-shadow: none;
}
div#nav ul li#view-everything a {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

/* ideas */
div#main {
	position: absolute;
	top: 62px;
	bottom: 0;
	overflow: auto;
	width: 100%;
}
div.idea-wrap {
	background: white;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	clear: both;
	overflow: hidden;
	box-shadow: 0 1px 0 white inset;
	text-shadow: 0 1px 0 white;
}
div.idea {
	width: 970px;
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 16px;
	clear: both;
}
a.edit-count {
	/*
	background: #f5f5f5;
	background: #f1f1f1;
	font-size: 12px;
	font-weight: bold;
	color: #989da2;
	text-align: center;
	display: block;
	width: 50px;
	border: 1px solid #ddd;
	float: left;
	margin-right: 22px;
	padding: 5px 0 5px 0;
	line-height: 20px;
	box-shadow: 0 0 1px rgba(0,0,0,0.1) inset, 0 1px 0 white;
	text-shadow: 0 1px 0 white;
	*/
	/* background: none repeat scroll 0 0 #F1F1F1; */
	/* background: white; */
    border: 6px solid #DDDDDD;
    /* border: 6px solid #e5e5e5; */
    border-radius: 75px 75px 75px 75px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 white;
    /* box-shadow: 0 1px 0 white; */
    color: #989DA2;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    margin-right: 22px;
    padding: 12px 2px;
    text-align: center;
    text-shadow: 0 1px 0 white;
    width: 50px;
}
a.edit-count:hover {
	text-decoration: none;
	background: #fff;
}
a.edit-count strong {
	font-size: 16px;
	color: #6388f0;
}
a.edit-count.no_edits .revision-count,
a.edit-count.no_edits .edits-label {
	color: #ccc;
}
a.edit-count .edits-label {
	font-weight: normal;
	font-family: Georgia, 'CaslonItalic';
	font-style: italic;
	font-size: 11px;
}
div.idea-content {
	float: left;
	width: 650px;
}
div.idea-wrap p.idea-text {
	font-family: Georgia, Times New Roman, Serif;
	font-size: 16px;
	line-height: 23px;
	padding-bottom: 11px;
	padding-top: 7px;
}
div.idea-wrap p.idea-text a {
	color: #444;
}
div.idea-wrap p.idea-text a:hover {
	text-decoration: none;
	color: #6388f0;
}
div.idea-wrap p.categories {
	font-size: 11px;
	text-transform: uppercase;
}
div.idea-wrap div.actions {
	float: right;
}
div.children {
	display: none;
}
div.revisions {
	background: url(../images/bg.gif);
	position: fixed;
	width: 100%;
	overflow: auto;

	top: 62px;
	bottom: 0;
	z-index: 150;
}
.dialog {
	display: none;
}

/* Revison */
div.revision-wrap {
	border-bottom: 1px dotted #ccc;
	clear: both;
	overflow: hidden;
	/* box-shadow: 0 1px 0 white inset; */
	text-shadow: 0 1px 0 white;
}
div.revision {
	width: 970px;
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 16px;
	clear: both;
}
div.editing div.dialog {
	display: block;
}
div.editing div.revision-wrap {
	display: none;
}




