<script type="text/template" id="revision-template">
	
	<%
	
	if (idx == 0) {
	
	%>
	<!-- <div class="line"></div> -->
	<div class="idea-wrap" style="box-shadow: 0 0 5px rgba(0,0,0,0.1); border-bottom: 1px solid #ccc;">
	<div class="idea">
		<a href="javascript: void(0);" class="edit-count <% if (edit_count < 1) { %>no_edits<% } %>">
			<strong class="revision-count"><%= edit_count %></strong><br /><span class="edits-label">Edit<% if (edit_count != 1) { %>s<% } %></span>
		</a>
		<div class="idea-content">
			<p class="idea-text"><a href="javascript: void(0);" class="top-text"><%= text %></a></p>
			<p class="categories">
				<a href="#">Finance</a>
			</p>
		</div>
		<div class="actions">
			<span class="improve button button_light"><span class="icon">*</span> &nbsp;Close Idea</span><br />
			<div class="pill">
				<span class="upvote button button_light first">
					<span class="icon" style="font-size: 14px;">{</span>&nbsp; <%= up %>
				</span>
				<span class="downvote button button_light">
					<span class="icon" style="font-size: 14px;">}</span>&nbsp; <%= down %>
				</span>
				<span class="fork button button_light last"> Fork</span>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
	</div>
	<%
	
	}
	else {
	
	%>
	<div class="revision-wrap">
	<div class="revision">
		<div class="idea-content" style="margin-left:32px; padding-left:57px;">
			<p class="idea-text"><%= text %></p>
		</div>
		<div class="actions">
			<div class="pill">
				<span class="upvote button button_light first">
					<span class="icon" style="font-size: 14px;">{</span>&nbsp; <%= up %>
				</span>
				<span class="downvote button button_light">
					<span class="icon" style="font-size: 14px;">}</span>&nbsp; <%= down %>
				</span>
				<span class="fork button button_light last"> Fork</span>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
	</div>
	<%
	
	}
	
	%>
	
</script>
