<!doctype html>
<html>

<head>	

	<title>Citizens Consensus</title>

	<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	
	<!--
	<style type="text/css">
		div.edit-visible {
		    display: none;
		}
		div.editing .text {
		    display: none;
		}
		div.editing .edit-visible {
		    display: block;
		}
		div.fork {
		    display: inline;
		}
		div.text {
		    display: inline;
		}
		div.revisions.noimprove {
		    display: none;
		}
	</style>
	-->

</head>


<body>
	
	
	<div id="main">
	
		<div id="header-bar">
			<div id="header">
				<a href="#" id="logo"><img src="/static/images/logo.png" /></a>
				<div id="nav">
					<ul>
						<li id="view-consensus" class="current"><a href="#">Current Consensus</a></li>
						<li id="view-everything"><a href="#">New Ideas</a></li>
					</ul>
				</div>
				<div id="header-right">
					<span class="refresh button"><span class="icon">0</span></span>
					<span class="show-idea-box button"><span class="icon">&</span></span>
				</div>
			</div>
		</div>
			
		<div id="ideas"></div>
		
		<div class="dialog" id="new-idea-box" style="display:none;">
			<div class="dialog-header">
				<span class="close-dialog tinybutton"><span class="icon">*</span></span>
				<h3>Add a new idea</h3>	
			</div>
			<div class="dialog-content">
				<div id="new">
					<!-- <input class="new-text" type="text" style="width:300px;border:1px solid #ccc;padding:5px;"></input> -->
					<textarea class="new-text"></textarea>
					<span class="done button">Save</span>
		    	</div>
		    </div>
	    </div>
	    
	</div>
	
	<script type="text/javascript">ix = 0;</script>
	
	
	<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	
	<script type="text/template" id="idea-template">
		<div class="idea-wrap">
		<div class="idea">
			<a href="javascript: void(0);" class="edit-count">
				<strong class="revision-count"></strong>
				<br />
				<span class="edits-label">Edits</span>
			</a>
			<div class="idea-content">
				<div class="top_revision"></div>
				<p class="idea-text"><a href="javascript: void(0);" class="top-text"></a></p>
				<p class="categories">
					<%

					var strings = ["Finance", "Education", "Human Rights", "Environment"];
					var rando = Math.floor(Math.random()*2);
					
					for ( i=0 ; i<(rando+1); i=i+1 ) {
						if (i < rando) { print ( "<a href='#'>" + strings[Math.floor(Math.random() * strings.length)] + "</a>, " ); }
						else 		   { print ( "<a href='#'>" + strings[Math.floor(Math.random() * strings.length)] + "</a>" );	}
					}
					
					%>
				</p>
			</div>
			<div class="actions">
				<a href="javascript: void(0);" class="improve">Improve Idea</a>
			</div>
			<div style="clear:both"></div>
		</div>
		</div>
		<div class="revisions noimprove" style="display:none;"></div>
	
	</script>
	
	
	<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	
	<script type="text/template" id="revision-template">
		
		<%
		
		if (idx == 0) {
		
		%>
		<div class="idea-wrap" style="box-shadow: 0 0 5px rgba(0,0,0,0.1); border-bottom: 1px solid #ccc;">
		<div class="idea">
			<a href="javascript: void(0);" class="edit-count">
				<strong class="revision-count"><%= edit_count %></strong>
				<br />
				<span class="edits-label">Edits</span>
			</a>
			<div class="idea-content">
				<div class="top_revision"></div>
				<p class="idea-text"><a href="javascript: void(0);" class="top-text"><%= text %></a></p>
				<p class="categories">
					<%

					var strings = ["Finance", "Education", "Human Rights", "Environment"];
					var rando = Math.floor(Math.random()*2);
					
					for ( i=0 ; i<(rando+1); i=i+1 ) {
						if (i < rando) { print ( "<a href='#'>" + strings[Math.floor(Math.random() * strings.length)] + "</a>, " ); }
						else 		   { print ( "<a href='#'>" + strings[Math.floor(Math.random() * strings.length)] + "</a>" );	}
					}
					
					%>
				</p>
			</div>
			<div class="actions">
				<span class="upvote button button_light">
					<span href="javascript:void(0);" class="icon" style="font-size: 14px;">{</span>
					&nbsp;
					<%= up %>
				</span>
				&nbsp;&nbsp;
				<span class="downvote button button_light">

					<span class="icon" style="font-size: 14px;">}</span>
					&nbsp;
					<%= down %>
				</span>
				&nbsp;&nbsp;
				<a href="javascript:void(0);" class="fork button button_light"> Fork</a>
			</div>
			
			
			<div class="dialog">
				<div class="dialog-header">
					<span class="close-dialog tinybutton"><span class="icon">*</span></span>
					<h3>Improve this idea</h3>	
				</div>
				<div class="dialog-content">
					<textarea class="edit-text"><%= text %></textarea>
					<br />
					<span class="done button">Save</span>
			    </div>
		    </div>
			
			
			<div style="clear:both"></div>
		</div>
		</div>
		<%
		
		}
		
		else {
		
		%>
		<div class="revision-wrap">
		<div class="revision">
			
			<br /><br />
			
			<div class="text"><%= text %></div>
			<div class="fork"> - Fork</div>
			
			<div>
				<span class="upvote"><%= up %></span
				<span class="downvote"><%= down %></span>
			</div>
			
			<br /><br />
			
		</div>
		</div>
		<div class="dialog">
			<div class="dialog-header">
				<span class="close-dialog tinybutton"><span class="icon">*</span></span>
				<h3>Improve this idea</h3>	
			</div>
			<div class="dialog-content">
				<textarea class="edit-text"><%= text %></textarea>
				<br />
				<span class="done button">Save</span>
		    </div>
	    </div>
		<%
		
		}
		
		%>
		
	</script>
	
	
	<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	
	<script type="text/javascript" src="/static/scripts/underscore-min.js"></script>
	<script type="text/javascript" src="/static/scripts/underscore.string.min.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery.js"></script>
	<script type="text/javascript" src="/static/scripts/json2.js"></script>
	<script type="text/javascript" src="/static/scripts/backbone-min.js"></script>
	<script type="text/javascript" src="/static/scripts/main.js"> </script>
	<script type="text/javascript">
        window.revisions.reset({{ data|tojson|safe }});
        window.user = new User({id: {{ session.user_id|tojson|safe }} });
        window.user.fetch();
        _.delay(function() {window.revisions.trigger('checkusers')}, 1000); // this is dumb
    </script>


</body>
</html>
