<!doctype html>
<html>
<style type='text/css'>
div.edit-visible {
    display: none;
}
div.editing .text {
    display: none;
}
div.editing .edit-visible {
    display: block;
}
div.fork {
    display: inline;
}
div.text {
    display: inline;
}
div.revisions.noimprove {
    display: none;
}
</style>
<body>
<div id="main">
    <div id="new">
        <input class='new-text' type='text'></input>
        <div class='done'>Save</div>
        <div class='refresh'>Refresh</div>
    </div>
    <div id="threads"></div>
</div>

<script type='text/template' id='thread-template'>
    <div class="top_revision"></div>
    <div class='top-text'></div>
    <div class='improve'>Improve Me</div>

    <div class="revisions noimprove"></div>
</script>

<script type='text/template' id='revision-template'>
    <div class='text'><%= text %></div>
    <div class='fork'> - Fork</div>
    <div class='edit-visible'>
        <input class='edit-text' type='text' value="<%= text %>"></input>
        <div class='done'>Save</div>
    </div>
    <div><%= up %> <%= down %></div>
</script>


<script type='text/javascript' src='/static/scripts/underscore-min.js'></script>
<script type='text/javascript' src='/static/scripts/underscore.string.min.js'></script>
<script type='text/javascript' src='/static/scripts/zepto.min.js'></script>
<script type='text/javascript' src='/static/scripts/json2.js'></script>
<script type='text/javascript' src='/static/scripts/backbone-min.js'></script>
<script type='text/javascript' src='/static/scripts/main.js'> </script>
<script type='text/javascript'>
window.revisions.reset({{ data|tojson|safe }});
</script>
</body>
</html>
